<div>
  <div class="card">
    <div class="header business">
      <h4 class="title">订单业务交接单, 合同号：{{orderNO}}</h4>
      <div>
        <button class="btn btn-info btn-fill pull-right" ng-click="showAddFormModal(orderId, orderNO)">增加工作清单</button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="content table-responsive table-full-width">
      <ul class="business-wrap clear" ng-if="business.length > 0">
        <li class="business-item" ng-repeat="b in business">
          <button type="button" ng-click="onRemove(b.id)" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs btn-close">
              <i class="fa fa-times"></i>
          </button>
          <div class="card card-user">
            <div class="content">
              <p class="description text-center">{{b.year}}年/{{b.month}}月工作单
              </p>
              <p class="category">{{b.description}}</p>
            </div>
            <hr>
            <div class="text-center">
              <!-- <a href="javascript:;" ng-click="showCapital(b.orderID, b.id)">资金情况</a> -->
              <a href="javascript:;" ng-click="showProfit(b.orderID, b.id)">利润情况</a>
              <a href="javascript:;" ng-click="showTax(b.orderID, b.id)">报税情况</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
