<div>

  <div class="card">
    <div class="header">
      <h4 class="title">用户/客户管理</h4>
      <p class="category">增加管理员，查看微信客户</p>
    </div>

    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped" id="paninationData">
        <thead>
          <tr>
            <th>用户名</th>
            <th>昵称</th>
            <th>公司名称</th>
            <th>绑定微信</th>
            <th>管理员</th>
            <th>注册日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in pagination.data">
            <td>{{item.username}}</td>
            <td>{{item.nick}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.openID}}</td>
            <td>{{item.admin ? '是' : '否'}}</td>
            <td><span ng-bind="item.createdAt | date: 'yyyy-MM-dd'"></span></td>
            <td>
              <button type="button" ng-click="upateProfile(item.ID)" rel="tooltip" title="完善信息" class="btn btn-info btn-simple btn-xs">
                  <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>

      </table>

      <ul uib-pagination class="pagination-sm pagination-custom" boundary-links="true" rotate="false" total-items="totalItems" ng-change="pageChange()" max-size="10" ng-model="currentPage" items-per-page="pageSize" first-text="首页" last-text="最后一页" next-text="下一页"
        previous-text="上一页">
      </ul>
    </div>
  </div>
</div>
