<div>
  <div class="card">
    <div class="header">
      <h4 class="title">订单管理</h4>
      <p class="category">新建业务订单，并绑定至用户</p>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped" id="paninationData">
        <thead>
          <tr>
            <th>#编号</th>
            <th>绑定用户</th>
            <th>公司名称</th>
            <th>订单类型</th>
            <th>订单日期</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in pagination.data">
            <td>{{item.id}}</td>
            <td>{{item.userID}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.type}}</td>
            <td>{{item.createdAt}}</td>
          </tr>
        </tbody>

      </table>

      <uib-pagination items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" next-text="&raquo;" previous-text="&laquo;" boundary-links="false">
      </uib-pagination>
    </div>
  </div>
</div>
