<div>
  <div class="card">
    <div class="header">
      <h4 class="title">业务管理</h4>
      <p class="category">建立财务月报订单跟踪数据，由业务录入，绑定客户可见</p>
    </div>
    <div class="content table-responsive table-full-width">
      <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="请输入合同编号"/>
          </div>
          <div class="col-md-8">
            <button class="btn btn-info btn-fill">查询</button>
          </div>
      </div>
      <table class="table table-hover table-striped" id="paninationData">
        <thead>
          <tr>
            <th>#合同编号</th>
            <th>绑定用户</th>
            <th>公司名称</th>
            <th>订单类型</th>
            <th>订单日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in pagination.data">
            <td>{{item.orderNO}}</td>
            <td>{{item.userInfo.nick}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.catalog == 1 ? "财务记账": "企业注册"}}</td>
            <td><span ng-bind="item.createdAt | date: 'yyyy-MM-dd'"></span></td>
            <td>
              <button type="button" ui-sref="dashboard.business({ id: item.id, orderNO: item.orderNO})"  rel="tooltip" title="业务处理" class="btn btn-info btn-simple btn-xs">
                  <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>

      </table>

      <ui uib-pagination items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" next-text="&raquo;" previous-text="&laquo;" boundary-links="false">
      </ui>
    </div>
  </div>
</div>
