<div class="modal-header">
  <h3 class="modal-title">新增订单</h3>
</div>
<div class="modal-body card" ng-init="init()">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>合同号</label>
          <input type="text" class="form-control" ng-model="order.orderNO">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>合同开始月份</label>
          <input type="number" class="form-control" ng-model="order.StartMonth" ng-value="order.StartMonth">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>订单类型</label>
          <div class="">
            <input class="form-check-input" type="radio" ng-model="order.catalog" ng-value="1"> 财务记账
            <input class="form-check-input" type="radio" ng-model="order.catalog" ng-value="2"> 工商注册
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <label for="price">指定服务企业</label>
            <select class="form-control" ng-model="order.userInfo.id" ng-options="x.id as x.nick for x in companies">
                <option  value="" >---请选择---</option>
            </select>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <label>指定业务员</label>
            <div class="">
              <select class="form-control" ng-model="order.salerInfo.id" ng-options="x.id as x.name for x in users">
                  <option  value="" >---请选择---</option>
              </select>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>指定顾问</label>
          <div class="">
            <select class="form-control" ng-model="order.adviserInfo.id" ng-options="x.id as x.name for x in users">
                <option  value="" >---请选择---</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>指定客服</label>
          <div class="">
            <select class="form-control" ng-model="order.serviceInfo.id" ng-options="x.id as x.name for x in users">
                <option  value="" >---请选择---</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">取消</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="ok()">确定</button>
</div>
