<div class="modal-header">
 <h3 class="modal-title">利润情况</h3>
</div>
<div class="modal-body card" ng-init="init()">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>收入(元)</label>
        <input class="form-control" ng-model=""/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>支出(元)</label>
        <input class="form-control" ng-model=""/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>利润(元)</label>
        <input class="form-control" ng-model=""/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">取消</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="ok()">更新</button>
</div>
