<div class="modal-header">
 <h3 class="modal-title">资产负债情况</h3>
</div>
<div class="modal-body card" ng-init="init()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>流动资产(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.ldzcAmt"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>非流动资产(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.fldzcAmt"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>资产合计(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.zchjAmt"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>流动负债(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.ldfzAmt"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>非流动负债(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.fldfzAmt"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>负债合计(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.fzAmt"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>所有者(股东)权益合计(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.qyhjAmt"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>负债及所有者(股东)权益总计(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="profitInfo.fzqyhjAmt"/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">取消</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="ok()">更新</button>
</div>
