<div class="modal-header">
 <h3 class="modal-title">报税情况</h3>
</div>
<div class="modal-body card" ng-init="init()">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>增值税(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="taxInfo.vatAmt"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>城建税(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="taxInfo.abbAmt"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>其它(元)</label>
        <input class="form-control" type="number" currency-format="number" ng-model="taxInfo.other"/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">取消</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="ok()">更新</button>
</div>
