 <div class="modal-header">
  <h3 class="modal-title">用户信息</h3>
</div>
<div class="modal-body card" ng-init="init()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>微信昵称</label>
        <input class="form-control" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>用户名</label>
        <input class="form-control" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>姓名</label>
        <input class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>电话</label>
        <input class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>邮箱</label>
        <label class="form-control">邮箱</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>公司名称</label>
        <input class="form-control" />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">取消</button>
</div>
