<div class="modal-header">
    <h3 class="modal-title">用户信息</h3>
</div>
<div class="modal-body" ng-init="init()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>微信昵称</label>
                    <label class="form-control">微信昵称</label>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">取消</button>
</div>
