/* style.css
 * This file provides css styles.
 */
 body{
    line-height: 30px;
    background:url("../images/background.jpg") no-repeat;
    background-size: 100%;
 }
/* LOGIN FORM*/
.inner-bg{
    padding: 30px 0 170px 0;
}
.login-content .text{
    color: #fff;
}
.login-content .description{
    margin: 20px 0 10px 0;
}
.form-box{
    margin-top: 35px;
}
.form-top{
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}
.form-bottom{
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}
.form-bottom form button.btn{
    width: 100%;
}
.form-top-left h3{
    margin-top: 0;
}
.form-top-left{
    float: left;
    width: 75%;
    padding-top: 25px;
}
.form-top-right{
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.login-content .btn{
    background: #4aaf51;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    border: 0;
}

.login-content input[type="text"], .login-content input[type="password"]{
    height: 50px;
}

.wrapper{
    background-color: #fff;
}
/*HEADER*/
.header-wrapper{
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 8999;
    padding: 0 26px;
    border-bottom: 1px solid #eee
}
.header-wrapper .nav-item{
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    display: inline-block
}
.header-wrapper .last-item{
    margin-right: 30px;
}
.search-wraper{
    width: 400px;
    height: 28px;
    position: relative;
}
.search-wraper .search{
    font-size: 14px;
    width: 400px;
    height: 28px;
    padding: 2px 18px;
    border: 1px solid #d9e2eb;
    border-radius: 15px;
    color: #5a626d;
    vertical-align: middle;
    line-height: 28px;
}
.search-wraper .input-search{
    position: absolute;
    right: 10px;
    top: 4px;
    color: #97a0a9;
    font-size: 16px;
    cursor: pointer;

}

.right-content{
    float: right;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px
}
.usr-content{
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
}
.usr-content img{
    width: 34px;
    height: 34px;
    border: 1px solid #ececec;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}
/*explore-content*/
.explore-content{
    padding-top: 50px;
}
.filter-wrap{
    background-color: #FFF;
    padding-top: 0;
    padding-left: 26px;
}
.explore-list-wrap{
    margin-top: 20px;
}
.explore-list-wrap .panel{
    border:0;
    background: none
}
.explore-list-wrap .btn {
    display: inline-block;
    font-size: 14px;
    padding: 7px 24px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #6b15a1;
    background: #6b15a1;
    font-weight: 400
}
.explore-list-wrap .panel-heading{
    height: 150px;
}
.explore-list-wrap .pannel-wrap{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*FILTER*/
.filter-wrap .filter-list{
    border-bottom: 1px dashed #e5ebf0;
}
.filter-wrap .row{
    margin-left: 0px;
    margin-right: 0px;
}
.filter-wrap .spread-row{
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    margin-top: 8px;
    position: relative;
    padding-bottom: 8px;
    z-index: 1
}
.filter-wrap .spread-row a{
    color: #cbd2dd
}

.filter-wrap .filter-content{
    float: left;
    padding-left: 66px;
    overflow: hidden;
    position: relative;
    min-height: 24px
}
.filter-wrap .filter-title{
    float: left;
    min-width: 48px;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    color: #5a626d;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
    line-height: 38px;
}
.filter-wrap ul.filter-content li{
    float: left;
    font-size: 13px;
    color: #222c38;
    cursor: pointer;
    width: 100px;
    height: 24px;
    line-height: 38px;
    margin-bottom: 4px;
    margin-right: 5px;
    overflow: hidden
}
.filter-wrap ul.filter-content li span{
    padding: 0 10px;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    display: inline-block
}
.filter-wrap ul.filter-content li.active>span{
    color: #2868d1;
    background: rgba(107, 162, 252, .2)
}


/*sidebar */
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

/*mgr orders*/
.order-filters, .product-filters{
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5
}
.order-filters li, .product-filters li{
    display: inline-block;
}
.order-filters li a, .product-filters li a{
    font-size: 12px !important;
    color: #586069 !important;
    display: inline-block;
    padding: 5px 5px 0px;
    margin-right: 5px;
    border-bottom: 2px solid transparent;
}
.order-filters li a.filter-selected, .product-filters li a.filter-selected{
    text-decoration: none;
    border-bottom-color: #e36209;
    outline: none;
}
.content{
  background-color: #FFF;
}
.content table{
    margin-top: 10px;
}
.content table tbody td{
    vertical-align: top;
}


.business-wrap{
  max-width: 1000px;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}



.business-wrap .business-item{
  width: calc(100% / 4 - 30px);
  height: 200px;
  position: relative;
  float: left;
  padding: 0;
  margin: 0 15px 30px 15px;
  /*background-color: #f9f9f9;*/
}

.business-wrap .pass{
  background-color: #ccc;
}

.business-wrap .business-item h4{
  text-align: center;
}
.business-wrap .business-item .content{
  min-height: 150px;
}

.business-wrap::after, .business-wrap .business-item::after{
  content: "";
  display: table;
  clear: both;
}
.business h4{
  padding-left: 15px;
}
