<div class="filter-wrap">
    <div class="filter-list">
        <div class="row">
            <div class="col-md-1">
                <span class="filter-title">品类</span></div>
            <div class="col-md-11">
                <ul class="filter-content">
                    <li class="active"><span>不限</span></li>
                    <li><span>果蔬</span></li>
                    <li><span>粮油</span></li>
                    <li><span>山货</span></li>
                    <li><span>冷冻</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="filter-list">
        <div class="row">
            <div class="col-md-1">
                <span class="filter-title">直供商</span></div>
            <div class="col-md-11">
                <ul class="filter-content">
                    <li class="active"><span>不限</span></li>
                    <li><span>AAAA合作社</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="spread-row">
        <a href="javascript:;">展开全部筛选项</a>
    </div>
</div>
