<header class="header-wrapper">
    <a href="#" class="navbar-brand">食采</a>
    <div class="right-content">
        <div class="search-wraper">
            <input type="text" class="search" placeholder="请输入名称"/>
            <div class="input-search icon-Search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div>
        <div class="nav-item">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span>购物车</span>
        </div>
        <div class="nav-item last-item">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            <span>采购清单</span>
        </div>
        <div class="usr-content title">
            <img src="https://krid-assets.b0.upaiyun.com/uploads/user/avatar/181611/0bface73-65b5-4544-a900-70853b41eef3.jpeg!480" alt="" ng-src="https://krid-assets.b0.upaiyun.com/uploads/user/avatar/181611/0bface73-65b5-4544-a900-70853b41eef3.jpeg!480"/>
        </div>
    </div>
</header>