<div class="sidebar-wrapper">
    <div class="logo">
        <a ui-sref="dashboard" class="simple-text">
            账我来后台管理
        </a>
    </div>
    <ul class="nav">
        <li>
            <a ui-sref="dashboard.customers" >
                <i class="pe-7s-anchor"></i>
                <p>客户管理</p>
            </a>
        </li>
        <li>
            <a ui-sref="dashboard.orders">
                <i class="pe-7s-shopbag"></i>
                <p>订单管理</p>
            </a>
        </li>
        <li>
            <a ui-sref="dashboard.tracks">
                <i class="pe-7s-keypad"></i>
                <p>财务业务</p>
            </a>
        </li>
        <li>
            <a ui-sref="dashboard.jobs">
                <i class="pe-7s-keypad"></i>
                <p>会计在线</p>
            </a>
        </li>
        <li>
            <a ui-sref="dashboard.feedback">
                <i class="pe-7s-keypad"></i>
                <p>业务咨询</p>
            </a>
        </li>
        <li>
            <a href='javascript:void(0);' ng-click="$event.preventDefault();logout()">
                <i class="pe-7s-airplay"></i>
                <p>安全退出</p>
            </a>
        </li>
    </ul>
</div>
