@media (min-width: 1200px) {
    .navbar{
        min-height: 80px;
    }
    .container h1{
        font-size: 38px;
        font-weight: bold;
    }
    .jumbotron p{
        width: 40%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .jumbotron .container{
        margin-top: 100px;
    }
    .btn{
    width: 150px;
    height: 48px;
    border-radius: 24px;
    background:#FF4081;
    margin-top: 40px;
    }
    .banner-bg, .banner-bg2,.banner-bg3,.banner-bg4{
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    }
    .picture-bg{
    width: 100%;
    background-image: url(../img/sucess-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-top: 60px;*/
    }
    .projects-header {
        width: 60%;
        text-align: center;
        margin: 60px 0 10px;
        font-weight: 200;
        margin-bottom: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro{
    width: 70%;
    margin: 0 auto;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 25px;
    }
    .price-free, .price-basic{
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    }
    .navbar-brand img{
    width: 80%;
    }
    .navbar-nav>li>a{
        padding: 0 15px;
        line-height: 80px;
    }
    /*各个注册类型公司*/
    .register-left ul{
        color: #fff;
        padding: 20px 10px;
        height: 440px;
    }
    .register-right01 ul{
        color: #fff;
        padding: 20px 25px;
        height: 220px;
    }
    .register-right02 ul{
        padding: 20px 25px;
        height: 220px;
    }
    .register-wrap li{
    font-size: 18px;
    line-height: 60px;
    }
     .register-comgpany{
        padding: 50px 0;
    }
    /*代理记账*/
    .small-taxpayer{
        background: #B3E5FC;
        padding: 40px 40px;
        overflow: hidden;
    }
    .small-taxpayer li{
        float: left;
    }
    .small-taxpayer li:nth-child(1){
        margin-bottom: 20px;
    }
    .small-taxpayer li:nth-child(2){
        margin-left: 20px;
        width: 70%;
        height: 120px;
    }
    .small-taxpayer p{
        margin-top: 20px;
    }
    .small-taxpayer img{
        width: 80px;
    }
    #same-taxpayer{
        background: #2196f3;
        color: #fff;
    }
}
@media( max-width: 1200px) and (min-width: 768px){
    .container{
        width: 760px;
    }
    .container h1{
        font-size: 34px;
        font-weight: bold;
    }
    .jumbotron p{
        width: 60%;
        margin: 0 auto;
        margin-top: 20px;
        height: 150px;
    }
     .btn{
        width: 150px;
        height: 48px;
        border-radius: 24px;
        background:#FF4081;
        margin-top: 20px;
        }
    .banner-bg, .banner-bg2,.banner-bg3,.banner-bg4{
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 25px;
    }
    .picture-bg{
    width: 100%;
    background-image: url(../img/sucess-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .col-md-6-second{
        margin-top: 20px;
    }
    .intro{
    width: 70%;
    margin: 0 auto;
}
    .projects-header {
        width: 60%;
        text-align: center;
        margin: 60px 0 10px;
        font-weight: 200;
        margin-bottom: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-brand{
        padding: 7px 15px;
    }
      .navbar-brand img{
    width: 60%;
    }
     /*各个注册类型公司*/
    .register-left ul{
        color: #fff;
        padding: 20px 10px;
        height: 560px;
    }
    .register-right01 ul{
        color: #fff;
        padding: 20px 25px;
        height: 280px;
    }
    .register-right02 ul{
        padding: 20px 25px;
        height: 280px;
    }
    .register-wrap{
        padding: 0 20px;
    }
    .register-wrap li{
    font-size: 18px;
    line-height: 60px;
    }
    .register-wrap img{
        width: 90%;
    }
    .tel-registerbox{
        padding-right: 30px;
    }
     .telregister-comgpany{
        padding-bottom: 30px;
    }
    /*代理记账*/
    .small-taxpayer{
        background: #B3E5FC;
        padding: 40px 40px;
        overflow: hidden;
    }
    .small-taxpayer li{
        float: left;
    }
    .small-taxpayer li:nth-child(1){
        margin-bottom: 20px;
    }
    .small-taxpayer li:nth-child(2){
        width: 70%;
        height: 120px;
    }
    .small-taxpayer p{
        margin-top: 20px;
    }
    .small-taxpayer img{
        width: 80px;
    }
    #same-taxpayer{
        background: #2196f3;
        color: #fff;
    }
}
@media (max-width: 768px){
    .container h1{
        font-size: 20px;
        font-weight: bold;
    }
    .jumbotron p{
        font-size: 14px;
        width: 70%;
        line-height: 26px;
        margin: 0 auto;
        margin-top: 30px;
        height: 105px;
    }
    .btn{
    width: 120px;
    height: 36px;
    border-radius: 24px;
    background:#FF4081;
    margin-top: 20px;
    }
    .projects-reg{
    width: 200px;
    }
    .page-header h2{
     font-size: 24px;
     line-height: 26px;
    }
    .reg-process img{
    width: 100%;
   }
   .picture-bg{
    width: 100%;
    background-image: url(../img/sucess-picture.png);
    background-size: cover;
  }
  .col-md-6-second{
        margin-top: 20px;
    }
  .intro-title, .price-title{
      font-size: 20px;
  }
  .intro{
    width: 90%;
    margin: 0 auto;
}
  .projects-header {
        width: 60%;
        text-align: center;
        margin: 40px 0 10px;
        font-weight: 200;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .price-free, .price-basic{
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 50px;
    }
    .navbar-brand{
        padding: 7px 15px;
    }
      .navbar-brand img{
    width: 60%;
    }
    .register-wrap{
        padding: 0 20px;
    }
    .register-wrap h3{
        font-size: 18px;
    }
    .register-wrap li{
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0;
    }
    .register-wrap img{
        width: 95%;
    }
    .telregister-comgpany{
        padding-bottom: 30px;
    }
    /*代理记账*/
    .account-box{
        padding: 20px 15px 0 15px;        
    }
    .account-left{
        padding-right: 0;
    }
    .account-right{
        padding-left: 0;
    }
    .small-taxpayer{
        background: #B3E5FC;
        padding: 20px 20px;
        overflow: hidden;
    }
    .small-taxpayer li{
        float: left;
    }
    .small-taxpayer li:nth-child(1){
        margin-bottom: 20px;
    }
    .small-taxpayer li:nth-child(2){
        height: 180px;
    }
    .small-taxpayer p{
        margin-top: 20px;
    }
    .small-taxpayer h3{
       font-size: 18px;
    }
    .small-taxpayer img{
        width: 40px;
    }
    #same-taxpayer{
        background: #2196f3;
        color: #fff;
    }
}
/*公共样式*/
.navbar{
    margin-bottom: 0px;
}
.swiper-slide{
    height: auto;
}
.swiper-wrapper{
    height: auto;
}
.navbar-inverse{
    background: transparent;
    border-color: transparent;
}
.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: transparent;
}
.masthead {
    padding: 90px 0 80px;
}
.reg-company{
    color: #3A76E5;
}
.reg-process{
    width: 90%;
    margin: 0 auto;
}
.reg-process img{
    width: 100%;
}
.reg-wrap{
    padding-top: 10px;
    margin: 0 auto;
}
.banner-bg{
    background-image: url(../img/banner01.png);
}
.banner-bg2{
    background-image: url(../img/banner02.png);
}
.banner-bg3{
    background-image: url(../img/banner03.png);
}
.banner-bg4{
    background-image: url(../img/banner04.png);
}
.price-free{
    background: #B3E5FC;
}
.price-basic{
    background: #2196F3;
}
.price-free ul{
    padding: 30px 30px;
}
.price-free li h3{
    font-weight: bold;
    line-height: 48px;
}
.price-basic ul{
    color: #fff;
    padding: 30px 30px;
}
.price-basic li h3{
    font-weight: bold;
    line-height: 48px;
}

.intro h3{
    font-weight: bold;
    color: #3A76E5;
    line-height: 48px;
}
.contact-list{
    padding-left: 0;
    padding-right: 0;
}
.contact-list ul{
     padding: 20px 0;
}
.list-inline{
    margin-left: 0;
}
.contact-infor{
    margin-right: 0;
    margin-left: 0;
    margin: 20px 0;
    border: solid 1px #ccc;
}
.footer{
   margin-top: 30px;
    background: #3A76E5;
    color: #FFF;
    line-height: 20px;
    text-align: center;
}
.footer p{
    line-height: 55px;
}
.navbar-inverse .navbar-toggle:hover {
     background-color: transparent;
}
.navbar-inverse .navbar-toggle {
     border-color: transparent;
}
.navbar-inverse .navbar-collapse{
    border-color: #ccc;
    font-size: 18px;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: #d9d9d9;
    cursor: pointer;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #d9d9d9;
}
.private-company{
    background: #2196f3;
}
.private-company ul{ 
    padding: 20px 10px;
    color: #fff;
}
.private-company h3{
    line-height: 48px;
}
.private-company li{
    line-height: 28px;
}
 /*各个注册类型公司*/
    .btn-apply{
        border: solid 1px #fff;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 16px;
    }
    .register-right02 .btn-apply{
        background: #fff;
    }
     .register-left{
        background: #2196f3;
    }
    .register-left ul{
        color: #fff;
        padding: 20px 10px;
    }
    .register-left li:nth-child(2){
        line-height: 24px;
        padding: 20px 0;
    }
    .register-left li:nth-child(3){
        text-align: center;
    }
    .register-right{
        overflow: hidden;
    }
    .register-right01{
        background: #2196f3;
        float: left;
        width:50%;
    }
    .register-right02{
        background: #cbecfe;
        float: left;
        width:50%;
    }
    .register-right01 li:nth-child(2){
        line-height: 24px;
        padding: 20px 0;
        height: 120px;
    }
    .register-right02 li:nth-child(2){
        line-height: 24px;
        padding: 20px 0;
        height: 120px;
    }
    .register-right02 li:nth-child(3){
        float: right;
    }
    .register-right01 li:nth-child(3){
        float: right;
    }

/*手机端各个注册类型公司*/
.tel-register01{
    background: #2196f3;
    padding: 20px 20px;
    color: #fff;
    overflow: hidden;
    margin-top: 10px;
}
.tel-register01 li:nth-child(2){
    padding: 20px 0;
}
.tel-register01 li:nth-child(3){
    float: right;
}
.tel-register02{
    background: #B3E5FC;
    padding: 20px 15px;
    color: #333333;
    overflow: hidden;
    margin-top: 10px;
    height: 300px;
}
.tel-register02 .btn-apply{
    background: #fff;
    font-size: 14px;
}
.tel-register03 .btn-apply{
    font-size: 14px;
}
.tel-register02 li:nth-child(2){
    padding: 20px 0;
    height: 200px;
}
.tel-register02 li:nth-child(3){
    float: right;
    margin-bottom: 0;
}
.domestic-com{
    padding-right: 0;
}
.agriculture-com{
    padding-left: 0;
}
.tel-register03{
    background: #2196f3;
    padding: 20px 15px;
    color: #fff;
    overflow: hidden;
    margin-top: 10px;
    height: 300px;
}
.tel-register03 li:nth-child(2){
    padding: 20px 0;
    height: 200px;
}
.tel-register03 li:nth-child(3){
    float: right;
    margin-bottom: 0;
}